<form action="/api/user/signup" method="post">
    <p>Пользователя с таким именем и паролем нет, пожалуйста, зарегистрируйтесь </p>
    <div>
        <label>Создайте Логин:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Создайте Пароль:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Введите Email:</label>
        <input type="email" name="emails" />
    </div>
    <div>
        <label>Введите Имя пользователя:</label>
        <input type="text" name="displayName" />
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться" />
    </div>
</form>
